@media all and (max-width: 550px) {
  main {
    background-color: rgb(183, 220, 183);
  }
  header {
    padding-top: 5vw;
    text-align: center;
    background-color: beige;
    font-size: 2em;
    size: 70vw;
  }
  .espacioinicial {
    height: 8vw;
  }
  #myCarousel {
    font-size: x-small;
  }
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  padding-top: 6vw;
  text-align: center;
  background-color: beige;
  font-size: large;
}
#nav-item {
  font-size: 1.2em;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 15vw;
}
#reloj {
  border-color: white;
  background-color: #b1f7a3;
  font-size: 1.2em;
  color: black;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#relojformulario {
  border-color: white;
  background-color: #dcb233;
  margin-right: 2vw;
  font-size: 1.2em;
  color: black;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main {
  background-color: rgb(183, 220, 183);
}
#ET {
  width: 4vw;
  padding-left: 1vw;
  margin-bottom: 1vw;
}
#ET2 {
  width: 4vw;
  padding-left: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}
.col-md-2 {
  margin-top: 6vw;
  margin-right: 3vw;
  margin-left: 3vw;
  text-align: center;
}
h1 {
  color: black;
}
.iniciotabla1 {
  margin-top: 2vw;
}
#menuincidencias {
  text-align: center;
}
h2 {
  color: black;
}
h2.Etiquetas {
  font: size 2em;
  padding-right: 4vw;
}
pre {
  padding-top: 3vw;
}
table {
  border: 0.2vw solid black;
  text-align: right;
  margin-left: 2vw;
  row-gap: 1vw;
  font-family: serif;
  min-width: 30vw;
}
td {
  border: 1px solid black;
  text-align: left;
  padding-left: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right: 20vw;
  font-size: 1em;
}
.salto1 {
  background-color: #f5f7a3;
  padding-top: 0px !important;
}
#elección tbody tr {
  border: 0.3vw;
  text-align: center;
  font-size: 1em;
  background-color: #8873e6 !important;
}
p.selector {
  font-size: 2em;
  font-style: oblique;
  font-weight: bold;
  background-color: aqua;
  border-color: black;
  border-width: medium;
  border-style: groove;
  padding-left: 2vw;
  margin-left: 2vw;
  text-align: center;
}

tbody tr {
  background-color: #fadddd;
  font-size: 1em;
}
footer {
  text-align: center;
  margin-top: 2vw;
}
#base1 {
  padding-right: 1vw;
  border-collapse: collapse;
  width: 45vw;
  height: 25vw;
}
#base2 {
  border-collapse: collapse;
  width: 40vw;
  height: 25vw;
}
#titulo {
  font-style: italic;
}
textarea {
  size: 15vw;
}
.video {
  border: 0.3vw;
  border-color: black;
  margin-left: 21vw;
  margin-right: 20vw;
  margin-top: 2vw;
  text-align: center;
  max-width: 50vw;
}
.frontal {
  display: inline-flex;
}
.botonUrgencia {
  margin-left: 1.5vw;
}
.TelefonosContacto {
  margin-top: 2vw;
}
/* Fondo modal: negro con opacidad al 50% */
.modal1 {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 2vw; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.contenido-modal {
  position: relative; /* Relativo con respecto al contenedor -modal- */
  background-color: white;
  margin: auto; /* Centrada */
  padding: 20px;
  width: 60%;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
}

/* Animación */
@-webkit-keyframes animatetop {
  from {
    top: -30vw;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animarsuperior {
  from {
    top: -30vw;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Botón cerrar */
.close {
  color: black;
  float: right;
  font-size: 3em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
